/* font import */
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


/* body with background color, background image and font name */
body{
  font-family: 'Kumbh Sans';
  background-color: hsl(185, 75%, 39%);
  background-image: url(/images/bg-pattern-bottom.svg);
  font-size: 18px;

}


/* main background */
main{
  min-height: 95vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


/* card container */
.container{
  width: 27%;
  padding-bottom: 16px;
  background-color: white;
  border-radius: 15px;
  overflow: hidden;
  text-align: center;
  box-shadow: -8px 10px 32px rgba(011, 000, 000, 0.1);
}


/* upper card section with the image background */
.upper-card{
  width: 100%;
  height: 120px;
  background-image: url(/images/bg-pattern-card.svg);
}


/* avater image section */
img{
  border-radius: 50%;
  border: 5px solid white;
  margin: -44px auto;
}


/* card body write up */
.card-body{
  margin-top: 3em;
}

.card-body h1{
  color: hsl(229, 23%, 23%);
  font-size: 20px;
  /* line-height: 2em; */
}

.card-body h3{
  color: hsl(229, 23%, 23%);
  font-size: 17px;
  /* line-height: 2em; */
}

.card-body span{
  font-weight: 400;
  color: hsl(0, 0%, 59%);
  line-height: 2em;
  font-size: 16px;
}


/* line divder */
.divider{
  margin-top: 1em;
  margin-bottom: 1em;
  width: 100%;
  height: 0.1px;
  background-color: hsl(0, 0%, 89%);
}


/* rate container */
.display-flex{
  display: flex;
  justify-content: space-evenly;
}

.display-flex h2{
  font-weight: 700;
  font-size: 17px;
  color: hsl(229, 23%, 23%);
}

.display-flex span{
  font-weight: 400;
  font-size: 12px;
}


/* footer */
.attribution{
  font-size: 16px;
  text-align: center;
  font-weight: 700;
} 

.attribution a{
  color: hsl(229, 23%, 23%);
}


/* Media section */
@media screen and (max-width: 1000px) {
  .container{
    width: 37%;
  }
}
@media screen and (max-width: 800px) {
  .container{
    width: 47%;
  }
}
@media screen and (max-width: 500px) {
  .container{
    width: 67%;
  }
}
@media screen and (max-width: 400px) {
  .container{
    width: 87%;
  }
}
@media screen and (max-width: 300px) {
  .container{
    width: 95%;
  }
}